.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 15vw;
}

.contact h1 {
  font-family: 'Noto Sans KR', sans-serif;
  padding-right: 8vw;
  font-size: 3vw;
  margin-left: 10%;
  margin-bottom: 5%;
}

.contact .all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.contact .all .pages {
  margin-right: 2em;
  width: 85%;
  border-right: 1px;
  padding-right: 1em;
  line-height: 12em;
  position: relative;
}

.contact .all .pages:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  width: 1px;
  box-shadow: 2.4px 3.2px 3.8px rgba(0, 0, 0, 0.028), 5.9px 7.6px 9px rgba(0, 0, 0, 0.04),
    11px 14.4px 17px rgba(0, 0, 0, 0.05), 19.7px 25.7px 30.4px rgba(0, 0, 0, 0.06),
    36.8px 48px 56.8px rgba(0, 0, 0, 0.072), 88px 115px 136px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.contact .all .pages:last-child {
  border-right: none;
}

.contact .all .pages:hover:after {
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.4); /* 그림자의 색을 더 진하게 만듭니다. */
}

.contact .all .pages a {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 1.8vw;
  text-decoration: none;
  padding-left: 5vw;
}

.contact .all .pages .git {
  padding-left: 7vw;
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    align-items: center;
    padding: 50px 10vw 0;
  }

  .contact h1 {
    font-size: 12vw;
  }

  .contact .all {
    flex-direction: column;
  }
}
