.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 15vw;
  margin-top: 10vw;
}

.contact h1 {
  font-family: 'Montserrat', sans-serif;
  padding-right: 8vw;
  font-size: 3vw;
  margin-left: 10%;
  margin-bottom: 10%;
}

.contact .all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 7vw;
}

.contact .all .pages {
  margin-right: 2em;
  width: 85%;
  border-right: 1px solid #000;
  padding-right: 1em;
  line-height: 12em;
  position: relative;
  transition: transform 0.3s ease;
}

.contact .all .pages:last-child {
  border-right: none;
}

.contact .all .pages a {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 1.8vw;
  text-decoration: none;
  margin-left: 5vw;
  color: #000;
  background: linear-gradient(to right, rgba(2, 167, 229, 1) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.contact .all .pages:hover a {
  background-position: left bottom;
  color: #fff;
}

.contact .all .pages .git {
  margin-left: 7vw;
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    align-items: center;
    padding: 50px 10vw 0;
  }

  .contact h1 {
    font-size: 12vw;
  }

  .contact .all {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15vw;
    margin-bottom: 10vw;
  }

  .contact .all .pages {
    width: 25vw;
    height: 70px;
    margin: 10px;
    padding-right: 0;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact .all .pages a {
    font-size: 3vw;
    line-height: 1;
    padding-left: 0;
    margin-left: 0;
  }

  .contact .all .pages .git {
    padding-left: 0;
    margin-left: 0;
  }
}
