.footer {
  display: flex;
  flex-direction: row;
  padding: 40px 5vw;
}

.footer .name,
.footer .email {
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-left: 4.8vw;
}

.footer .email {
  padding-left: 5px;
}

.footer .name span,
.footer .email span {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  color: #ffc107;
  padding-right: 20px;
}

.footer .name,
.footer .email {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 3vw;
    padding-bottom: 10px;
    flex-direction: column;
  }

  .footer .name,
  .footer .email {
    align-items: flex-start;
    font-size: 3.5vw;
  }

  .footer .name {
    margin-left: 15px;
  }

  .footer .email {
    margin-left: 10px;
  }

  .footer .name span,
  .footer .email span {
    padding-right: 10px;
    margin-bottom: 5px;
  }
}
