.header {
  height: 100vh;
}

.header h1 {
  font-size: 4vw;
  line-height: 1.5;
  letter-spacing: 5px;
  padding: 18vw;
  padding-left: 10vw;
  padding-bottom: 1.3vw;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.header h1 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.header .typing {
  color: #000000;
  padding: 10vw;
  padding-left: 10vw;
  padding-top: 0;
  font-size: 1.1vw;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  letter-spacing: 6px;
}

@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 8vw;
    padding-top: 80vw;
    padding-left: 6vw;
    padding-bottom: 1vw;
    letter-spacing: 2px;
    padding-right: 0;
  }

  .header .typing {
    padding: 3vw;
    padding-left: 6vw;
    font-size: 3.5vw;
    letter-spacing: 2px;
    padding-right: 0;
  }
}
