.header {
  display: flex;
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  margin: 30px;
}

li a {
  color: #000;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}
