.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  padding: 0 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.header h1 {
  line-height: 0.7;
  margin: 0;
  margin-left: 22px;
}

.header h1 span {
  margin-left: 35px;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 6.7px 7.7px -66px rgba(0, 0, 0, 0.096),
    0px 18.7px 21.3px -66px rgba(0, 0, 0, 0.174),
    0px 44.9px 51.3px -66px rgba(0, 0, 0, 0.262),
    0px 149px 170px -66px rgba(0, 0, 0, 0.39);
  transition: all 0.3s ease;
}

.menuHide {
  display: none;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .header h1 {
    margin-left: 80px;
  }

  .menu {
    margin-right: 65px;
    position: static;
    flex-direction: row;
    border: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.menu li a {
  color: #000;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #817a7ab0;
}

button {
  background: none;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin-right: 15px;
}
