.skills h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10%;
  padding-top: 10vh;
  font-size: 3vw;
  margin-left: 10%;
  margin-bottom: 5%;
}

.skills .text:not(:last-child) {
  border-image: linear-gradient(to right, #3b3939dc, transparent);
  border-bottom: 1.5px solid;
  border-image-slice: 1;
}

.skills .head {
  display: flex;
  padding-top: 10px;
  height: 170px;
  padding-bottom: 100px;
  padding-top: 80px;
}

.skills .head h2 {
  font-family: 'Open Sans', sans-serif;
  height: 3vw;
  font-size: 2.8vw;
  margin-left: 15%;
  position: relative;
  padding-left: 1.7vw;
  line-height: 1;
}

.skills .head h2::before {
  content: '';
  display: inline-block;
  width: 0.8vw;
  height: 100%;
  border-radius: 3vw 0 0 3vw;
  position: absolute;
  left: 0;
  top: 0;
}

.front::before {
  background-color: rgb(246, 114, 66);
}

.back::before {
  background-color: rgb(163, 217, 56);
}

.data::before {
  background-color: rgb(70, 70, 250);
}

.tool::before {
  background-color: rgb(190, 32, 190);
}

.skills .text .textbox {
  margin-left: 21%;
  display: flex;
  margin-bottom: 4vw;
}

.skills .text .textbox p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3%;
  font-weight: 700;
  font-size: 1.5vw;
  letter-spacing: 0.5vw;
  width: 10vw;
}

.skills .text .textbox ul {
  padding-bottom: 5%;
}

.skills .text .textbox ul li {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 3;
  padding: 0.7vw;
  letter-spacing: 0.2vw;
  font-size: 1.1rem;
  color: #423e3e;
}

@media screen and (max-width: 768px) {
  .skills h1 {
    font-size: 12vw;
    margin-left: 25px;
    margin-bottom: 100px;
    margin-top: 80px;
  }

  .skills .text:not(:last-child) {
    border-bottom: 1px solid;
  }

  .skills .head {
    flex-direction: row;
    height: auto;
    padding-left: 3.2vw;
  }

  .skills .head h2 {
    font-family: 'Open Sans', sans-serif;
    height: 30px; /* 높이를 고정값으로 설정 */
    font-size: 9vw; /* 폰트 크기를 고정값으로 설정 */
    margin-left: 5%; /* 위치를 조절 */
    position: relative;
    padding-left: 5vw; /* 패딩을 조절 */
    line-height: 1;
  }

  .skills .head h2::before {
    content: '';
    display: inline-block;
    width: 3vw;
    height: 9vw; /* h2의 높이를 따르도록 설정 */
    border-radius: 3vw 0 0 3vw;
    position: absolute;
    left: 0;
    top: 0;
  }

  .skills .text .textbox {
    flex-direction: column;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .skills .text .textbox p {
    font-size: 5vw;
    letter-spacing: 0.2rem;
    width: auto;
    padding-left: 30px;
  }

  .skills .text .textbox ul {
    padding-left: 35px;
  }

  .skills .text .textbox ul li {
    font-size: 3vw;
    line-height: 2;
    padding: 15px;
    letter-spacing: 0.1rem;
    margin-left: 10vw;
  }
}
