.works h1 {
  margin-left: 10%;
  margin-top: 10%;
  font-size: 3vw;
  margin-bottom: 10%;
  font-family: 'Noto Sans KR', sans-serif;
}

.container1 {
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  box-shadow: 1.9px 1.4px 2.4px -8px rgba(0, 0, 0, 0.022), 4.8px 3.6px 6.2px -8px rgba(0, 0, 0, 0.031),
    9.7px 7.3px 12.6px -8px rgba(0, 0, 0, 0.039), 20.1px 15px 25.9px -8px rgba(0, 0, 0, 0.048),
    55px 41px 71px -8px rgba(0, 0, 0, 0.07);
}

.project1 {
  margin: 9%;
  margin-left: 12%;
}

.project1 .title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2.3vw;
  font-weight: 700;
  letter-spacing: 1vw;
  margin-bottom: 5%;
}

.project1 .title span {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9vw;
  letter-spacing: 1.2vw;
  font-weight: 400;
}

.project1 .text {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 0.5vw;
  font-size: 1.2vw;
}

.gifSize {
  width: 15vw;
  height: 59vh;
  margin: 6%;
  margin-right: 4%;
  border-radius: 1.5vw;
}

.container2 {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  margin: 5%;
  margin-top: 70px;
}

.project2 {
  margin-left: 60px;
  margin-right: 60px;
}

.project3 {
  margin-left: 60px;
  margin-right: 60px;
}

.project4 {
  margin-left: 60px;
  margin-right: 60px;
}

img {
  width: 15vw;
  height: 40vh;
  cursor: pointer;
}

.container2 p {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 1.3rem;
}

.container2 img {
  box-shadow: 0px 0px 6.5px -54px rgba(0, 0, 0, 0.069), 0px 0px 21.9px -54px rgba(0, 0, 0, 0.13),
    0px 0px 98px -54px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.container2 img:hover {
  transform: scale(1.03);
}

.container2 p span {
  font-weight: 400;
  font-size: 0.9rem;
}

.container2 .read {
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .works h1 {
    font-size: 2.4rem;
    margin-left: 25px;
    margin-bottom: 100px;
    margin-top: 80px;
  }

  .gifSize {
    width: 60vw;
    height: auto;
    margin: 6%;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 20px;
  }

  .container1 {
    flex-direction: column;
    width: 90%;
  }

  .project1 {
    margin: 5%;
  }

  .project1 .title {
    font-size: 5vw;
  }

  .project1 .title span {
    font-size: 2vw;
    letter-spacing: 0.5vw;
  }

  .project1 .text {
    font-size: 3vw;
  }

  img {
    width: 50vw;
    height: auto;
    margin: 6%;
    border-radius: 1.5vw;
  }

  .container2 {
    flex-direction: column;
    margin: 2%;
    margin-top: 70px;
  }

  .container2 img {
    width: 70vw;
  }

  .container2 p {
    margin-left: 30px;
    margin-top: 0;
  }

  .container2 .read {
    padding-bottom: 50px;
    color: #5e5a5a;
  }

  .project2 {
    margin-left: 10px;
    margin-right: 0;
  }

  .project3 {
    margin-left: 10px;
    margin-right: 0;
  }

  .project4 {
    margin-left: 10px;
    margin-right: 0;
  }
}
