.works h1 {
  margin-left: 10%;
  margin-top: 10%;
  font-size: 3vw;
  margin-bottom: 10%;
  font-family: 'Noto Sans KR', sans-serif;
}

.container1 {
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  box-shadow: 0px 0px 4.8px -52px rgba(0, 0, 0, 0.049), 0px 0px 12.1px -52px rgba(0, 0, 0, 0.088),
    0px 0px 24.6px -52px rgba(0, 0, 0, 0.127), 0px 0px 50.7px -52px rgba(0, 0, 0, 0.174),
    0px 0px 139px -52px rgba(0, 0, 0, 0.24);
}

.project1 {
  margin: 9%;
  margin-left: 12%;
}

.project1 .title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2.3vw;
  font-weight: 700;
  letter-spacing: 0.8vw;
  margin-bottom: 5%;
}

.project1 .title span {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.8vw;
  letter-spacing: 1.1vw;
  font-weight: 400;
}

.project1 .text {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 0.4vw;
  font-size: 1.1vw;
  color: #5e5a5a;
}

.gifSize {
  width: 12vw;
  height: auto;
  margin: 6%;
  margin-right: 4%;
  border-radius: 1.5vw;
}

.container2 {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  margin: 5%;
  margin-top: 70px;
}

.project2 {
  margin-left: 60px;
  margin-right: 60px;
}

.project3 {
  margin-left: 60px;
  margin-right: 60px;
}

.project4 {
  margin-left: 60px;
  margin-right: 60px;
}

img {
  width: 15vw;
  height: auto;
  cursor: pointer;
}

.container2 p {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 1.3rem;
}

.container2 img {
  box-shadow: 3.7px 0.8px 4.6px -28px rgba(0, 0, 0, 0.028), 9.4px 1.9px 11.7px -28px rgba(0, 0, 0, 0.04),
    19.1px 3.9px 23.9px -28px rgba(0, 0, 0, 0.05), 39.4px 8px 49.3px -28px rgba(0, 0, 0, 0.062),
    108px 22px 135px -28px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.container2 img:hover {
  transform: scale(1.03);
}

.container2 p span {
  font-weight: 400;
  font-size: 0.9rem;
}

.container2 .read {
  font-weight: 400;
  font-size: 1rem;
  color: #5e5a5a;
}

@media screen and (max-width: 768px) {
  .works h1 {
    font-size: 2.4rem;
    margin-left: 25px;
    margin-bottom: 100px;
    margin-top: 80px;
  }

  .gifSize {
    width: 60vw;
    height: auto;
    margin: 6%;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 20px;
  }

  .container1 {
    flex-direction: column;
    width: 90%;
  }

  .project1 {
    margin: 5%;
  }

  .project1 .title {
    font-size: 5vw;
  }

  .project1 .title span {
    font-size: 2vw;
    letter-spacing: 0.5vw;
  }

  .project1 .text {
    font-size: 3vw;
  }

  img {
    width: 50vw;
    height: auto;
    margin: 6%;
    border-radius: 1.5vw;
  }

  .container2 {
    flex-direction: column;
    margin: 2%;
    margin-top: 70px;
  }

  .container2 img {
    width: 70vw;
  }

  .container2 p {
    margin-left: 30px;
    margin-top: 0;
  }

  .container2 .read {
    padding-bottom: 50px;
    color: #423e3e;
  }

  .project2 {
    margin-left: 10px;
    margin-right: 0;
  }

  .project3 {
    margin-left: 10px;
    margin-right: 0;
  }

  .project4 {
    margin-left: 10px;
    margin-right: 0;
  }
}
