@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");

html {
  scroll-behavior: smooth;
}
.borderTop {
  border-top: 1px solid #000;
  margin: 10px 0;
  padding: 10px 0;
}

.margin-10 {
  margin: 10px;
}
.padding-10 {
  padding: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #726f6f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a6a2a2;
}
